.blue-btn {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	background-color: rgb(93, 183, 222);
	color: white;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 4px;
}

.blue-btn:hover {
	background-color: rgb(255, 103, 0);
	color: black;
}